@font-face {
    font-family: 'pixel';
    src: url(Pixeltype.ttf);
    font-weight: medium;
}

*{
    font-family: 'pixel';
    color: red;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    font-size: 2vw;
}

h1{
    color: #2D2A26;
    font-family: 'pixel';
    font-size: 4vw;
}
h2{
    color: #2D2A26;
    font-family: 'pixel';
    font-size: 3vw;
}
h3{
    color: #2D2A26;
    font-family: 'pixel';
    font-size: 2vw;
    animation: pulse 2s infinite;
    padding: 0.5vw 0;
}
p{
    color: #2D2A26;
    padding: 1vw 0;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
} 

@mixin atributes($w,$h,$padding,$margin,$bcolor){
    width: $w;
    height: $h;
    padding: $padding;
    margin: $margin;
    background-color: $bcolor;
}
@mixin air($pm,$dm,$pa,$da){
    margin#{$pm}:$dm;
    padding#{$pa}:$da;
}
@mixin flex($direction,$justify,$align,$wrap,){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

